.body{
	 background-image: url('1.jpg');
   background-repeat: no-repeat ;
     background-size: cover; /* Resize the background image to cover the entire container */


	
}

.header{
	width:100%;
	height : 50px ;
	text-align : center ;
	padding-top : 15px;
	background-color:rgba(0,0,0,0.6);
	font-size: 30px;
	border-radius: 10px 100px / 120px;
	color:white;

}

.content{
	display:block;
	margin-top:50px;
	justify-content:center;
	width:80%;
	height:450px;
	border-radius:50px;
	margin-left:10%;
	background-color:rgba(255,255,255,0.8);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bar{
	margin-top : 3% ;
	width:15%;
	display:block;
}

.btn{
	
	width:100%;
	font-size:20px ;
	background-color:rgba(100,1,1,1) ;
	height:50px ;
	border-color : rgba(100,1,1,1) ;
	border-radius:5px ;
	margin-top : 15px ;
	width : 300px ;
	
}


.btn:hover{
	
	background-color:rgb(205,202,128) ;
	height:50px ;
	border-color :rgb(205,202,128) ;
}

.text-hello{
	width:100%;
	padding:50px 0px 0px 0 ;
	text-align:center;
	font-size:30px;
	
}

.btn-hello{
	margin-left:36%;
	width:20%;
	height:300px;
	display:block ;
	padding:20px 0px 0px 0 ;
	
}

a {
  color: white;
  text-decoration: none; /* no underline */
}

.about-me{color:white;
	position: absolute;
    bottom: 10px;
	width:100%;
	height:40px;
	background-color:rgba(0,0,0,0.8);
	overflow:hidden;
	left:0;
	text-align:center;
	
}

.end{
	padding-top:10px;
	
}
