.body{
	 background-image: url('1.jpg');
   background-repeat: no-repeat ;
     background-size: cover; /* Resize the background image to cover the entire container */
	
	
}

.header{
	top:0;
	width:100%;
	height : 15% ;
    background-color:rgba(100,1,1,0.8);
    display:flex;
	position: absolute;
	overflow:hidden;
	left:0;
	color:white;
}

h1{
	font-size: 30px;
	padding-top: 20px;
	padding-left:16%;
}




.img{
    height: 90px;
	padding-left:10%;
	padding-top: 5px;
    padding-bottom:10px;
	border-radius:9px;
}

.content{
	
	margin-top:230px;
	justify-content:center;
	width:60%;
	height:80%;
	border-radius:50px;
	margin-left:20%;
	background-color:rgba(0,0,0,0.8);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display:block;
	color:white;
	}




.text-hello{
	width:100%;
	padding:35px 0px 0px 0 ;
	text-align:center;
	font-size:30px;
	color:white;
	margin-bottom:10px;
	
}

.btn-hello{
	margin-left:15px;
	padding:20px 0px 0px 0 ;
    color:white;
	text-align:center;
	font-size:18px;
	text-decoration:none;
}
.btn{
	font-size:20px ;
	background-color:maroon ;
	height:50px ;
	border-color : rgba(110,1,1,0.5) ;
	border-radius:5px ;
	width : 150px ;
	text-align:center;
	margin:15px 0 15px 330px;
  
}

a {
	text-decoration:none;
	color:white;
}
.btn:hover{
	background-color:rgb(205,202,128) ;
	height:50px ;
	border-color :rgb(205,202,128) ;
}

.end1{margin-left:10%;
	}

.end2{
	margin-left:23%;
	}
	
.end{
	margin-top:10px;
	display:flex;
	font-size:20px;
	padding-bottom:30px;
}
